/* removin the default margin by setting it to 0 */
* {
margin: 0px; 
}
/* adjusting the properities for the body like the font family and back ground */
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;   
    background-color: #767676;
  }
/* styling the header and adjusting the elements in it */
header{
    display: flex;
    background-color: #282626;
    color: #B0B0B0;
    font-weight: bold;
    height: 80px;
    box-shadow:inset 5px 5px 15px rgb(39, 39, 39);
    align-items: center;
    padding: 10px;
}
/* this is for the element at the most right of the header  */
header p {
    margin-left: auto;
    
}
/* The logo in the header  */
header img{
    width: 50px;
    margin: 20px;
}
/* the name next to the logo  */
header span{
    margin: 20px;
} 
/* the content between the header and the footer  */
#maincontent{
    display: flex;
    color: #FFFFFF;
    height: 600px;
    background-color:#00000080 ;
    font-weight: bold;
}
/* the logo of the currencies  */
.currencybox img {
    width: 2vw;
    margin-right: 5px;
}
/* creating the style of the box for .Currencies */
/* The font size is set related with vw so its chaging according to the width  */
.currencybox {
    display: flex;
    width: 70%;
    height: 30px;
    border: 2px #8cbcff solid; 
    border-radius: 20px;
    align-items: center;
    
    padding: 5px 10px;
    font-size: 150%;
    box-shadow:inset 2px 2px 15px rgb(39, 39, 39);
       
}
/* adjusting the layout for the boxes container  */
.Currencies{
    height: inherit;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
/* making the display of the money transitions box flex to be in a row  */
#MoneyTransitions div {
    display: flex;   
    align-items: center;
}
/* adjusting the header of the mainconten */
h2{
    padding: 10px 20px ;
    height: 10 vh;
    
    text-align: center;
}
/* setting the width related to viewport width  */
#Cards-page{
    color: #FFFFFF;
    font-size: 2vw;
    width: 65vw;
}

#User-Info{
    width: 25vw;
    font-size: 1.5vw;
}
/* adjusting the styling for the information box at the right of the main content section  */
.Information{
    display: flex;
    border: 3px solid #8cbcff;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    
}
/* images in the .Information boxes */
.Information img{
    width: 30px;
}
/* the card image at the middle of the page  */
#Cards-page img{
    display: block;
    width: 20vw;
    
    margin: auto;
    
}
/* the expenses rows  */
#Cards-page .Expenses{
    display: flex;
    width: 85%;
    align-items: center;
    height: 50px;
    
    
    margin: 5px auto;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
    
}

#Cards-page .bar-icon img{
    display: block;
    width: 60%;
}
/* this the bar of the expenses before applying the percentage */
.bar{
    position: absolute;
    left: 32%;
    width: 30%;
    height: 8px;
    border-radius: 4px;
    background-color: gray;
    
}
.bar-icon{
    width: 10%;
    
    
}
/* this inner div is to show the percentage of the expenses  */
.bar div{

    height: 100%;
    background-color: aqua;
    border-radius: 4px;
    
}
.Expenses p {
    position: absolute;
    left: 65%;
}
/* this  width percentage for the bar section  */
#Market{
    width: 50%;
}
#Clothes{
    width: 20%;
}
#Education{
    width: 10%;
}
#Resturant{
    width: 5%;
}
#Others{
    width: 15%;
}

footer{
    height:  40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;

    
}
/* The position here is related to be able to locate a child in at with absolute position  */
.News{
    position: relative;
    width: 25%;
    height: auto;
}
.News a img{
    width: 100%;
    height: 100%;
    
 
}
.News p {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 2.5vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.04vw;
    -webkit-text-stroke-color: white;
}

/* This part is to make the webpage responsive */
/* when the width is less than 900px these styles are applied  */
@media (max-width:900px) {
    #maincontent{
        display: block;
        height: 1500px;
        
    }
    .Currencies{
        margin: auto;
        width: 50vw;
        height: 600px;
        
    }
    .currencybox{
        width: 20vw;
    }
    
    #Cards-page{
        width: 90%;
        height: 500px;
        margin: 0 10px;
    }
    h2{
        font-size: 6vw;
    }
    
    .Expenses{
        width: 100%;
        height: 50px;
    }
    
    #User-Info{
        width: 100%;
        height: 200px;
    }
    .Information{
        display: flex;
        justify-content: center;
        
        font-size: 2vw;
    }
    footer{
        height: 25vh;
    }
    .News p{
        
        font-size: 110%;
        -webkit-text-stroke-width: 0px;
    }
    
   
    
}
/* addtional styles for smaller screens  */
@media (max-width:600px) {
   
    #maincontent{
        height: 1450px;
    }
    #Cards-page{
        height: 450px;
    }
    .currencybox{
        font-size: 4vw;
    }
    .Information{
        font-size: 4vw;
    }
    footer{
        display: flex;
        flex-direction: column;
        
        height: 700px;
    }
    .News{
        width: 50%;
    }

    
    
    
   
    
}


